<h2>Мой Профиль</h2>

<form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
  <label>Имя:
    <input formControlName="first_name" />
  </label>

  <label>Фамилия:
    <input formControlName="last_name" />
  </label>

  <label>Биография:
    <textarea formControlName="bio"></textarea>
  </label>

  <label>Телефон:
    <input formControlName="phone_number" />
  </label>

  <label>Школа:
    <input formControlName="school" />
  </label>

  <label>Класс:
    <input type="number" formControlName="grade" />
  </label>

  <label>Интересы по олимпиадам:
    <textarea formControlName="olympiad_interests"></textarea>
  </label>

  <button type="submit">Сохранить</button>
</form>
