<div class="top-nav">
  <button routerLink="/">🏠 Home</button>
  <div>
    <button *ngIf="auth.isLoggedIn()" (click)="auth.logout()">🚪 Logout</button>
    <button *ngIf="!auth.isLoggedIn()" routerLink="/login">🔐 Login</button>
  </div>
</div>

<div class="profile-container">
  <h2>Мой Профиль</h2>

  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <div class="form-group">
      <label>Имя</label>
      <input formControlName="first_name" />
    </div>

    <div class="form-group">
      <label>Фамилия</label>
      <input formControlName="last_name" />
    </div>

    <div class="form-group">
      <label>Биография</label>
      <textarea formControlName="bio"></textarea>
    </div>

    <div class="form-group">
      <label>Телефон</label>
      <input formControlName="phone_number" />
    </div>

    <div class="form-group">
      <label>Школа</label>
      <input formControlName="school" />
    </div>

    <div class="form-group">
      <label>Класс</label>
      <input type="number" formControlName="grade" />
    </div>

    <div class="form-group">
      <label>Интересы по олимпиадам</label>
      <textarea formControlName="olympiad_interests"></textarea>
    </div>

    <button type="submit" class="save-btn">Сохранить</button>
  </form>
</div>
